<!DOCTYPE HTML>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>cool-head</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  <!-- <meta name="format-detection" content="telephone=no"> -->
  <style>
    /* Inline css needed */
  </style>
</head>
<body>
  <header>
   header
  </header>
  <article>
    <p>body</p>
  </article>
  <footer>
   footer
  </footer>
  <script type="text/javascript">
    // here the post-load JS starts.
  </script>
</body>
</html>